@import 'bourbon/bourbon'
@import 'neat/neat'
@import 'base/base'

$open-sans: "Open Sans", "Helvetica", "Roboto", "Arial", sans-serif
$grey: rgb(62, 61, 58)
$kanye: #F58B57
$black: #000509
html
	background: white
	font-family: $open-sans

body
	margin: 0
	padding: 0
	width: 100%
	height: 100vh
	position: relative

div
	width: 100%
	max-width: 800px
	position: absolute
	top: 10vw
	div
		margin-top: -10px
		position: relative
		background: $kanye
		color: $black
		font-weight: 700
		width: 100%
		height: 0
		padding-bottom: 100%

section:first-of-type
	ul
		// font-size: 50px
		font-size: 3.1rem
		margin-left: calc(50% - 255px)
		margin-top: 10px
		li:last-of-type
			margin-top: 45px

section:nth-of-type(2)
	@include outer-container
	text-align: center
	ul
		@include span-columns(6)
		font-size: 20px
		margin-top: -10px
		&:first-of-type
			margin-left: -15px
		li
			margin-bottom: -6px

img
	&:first-of-type
		width: 305px
		height: 230px
		margin-left: 190px
		position: absolute
		top: 266px
	&:nth-of-type(2)
		width: 200px
		height: 155px
		margin-left: 360px
		position: absolute
		top: 583px
// #dot
// 	bottom: 0
// 	display: inline-block
// 	position: relative
// 	vertical-align: top


// section
// 	+outer-container
// 	margin-top: 10%
// 	nav
// 		+shift(1)
// 		+span-columns(4)
// 		padding: 0 2% 0 2%
// 		ul
// 			// display: none
// 			font-size: golden-ratio(18px,  1)
// 			font-weight: 800
// 			margin-bottom: golden-ratio(18px,  1)
// 		span
// 			font-size: golden-ratio(28px,  1)
// 			font-weight: 400
// 	article
// 		+span-columns(6)
// 		img
// 			+size(280px auto)