@import 'bourbon/bourbon'
@import 'neat/neat'
@import 'base/base'

$open-sans: "Open Sans", "Helvetica", "Roboto", "Arial", sans-serif
$grey: rgb(62, 61, 58)

body
	background: url("/tomcornall.github.io/images/paper.png")
	font: bold golden-ratio(14px,  1) $open-sans
	color: $grey

@include keyframes(slide)
	0%
		bottom: 0
	20%
		bottom: 0
	55%
		bottom: 25px
	100%
		bottom: 0

#tom
	position: relative
	+animation-delay(.5)
	+animation-name(slide)
	+animation-duration(1s)
	+animation-timing-function(ease)
	+animation-iteration-count(infinite)

section
	+outer-container
	nav
		+shift(1)
		+span-columns(4)
		padding: 0 2% 0 2%
	article
		+span-columns(6)